$max-width: 90%;

.container {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
